<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
        <!-- be careful to enter the id proper as it is case sensitive -->
        <beans>
        <bean id="Triangle" class="org.java.spring.Triangle">
       		<property name="point1" ref="point1"></property>
       		<property name="point2">
       			<bean class="org.java.spring.Point">
		        <property name="x" value="22"></property>
		        <property name="y" value="0"></property>
		        </bean>
       		</property>
       		<property name="point3">
       			<bean class="org.java.spring.Point">
		        <property name="x" value="0"></property>
		        <property name="y" value="22"></property>
		        </bean>
       		</property>
        </bean>
        
        <bean id="point1" class="org.java.spring.Point">
        <property name="x" value="0"></property>
        <property name="y" value="0"></property>
        
        </bean>
        
        
        
        
        <bean id="point3" class="org.java.spring.Point">
        <property name="x" value="0"></property>
        <property name="y" value="22"></property>
        
        </bean>
        
        </beans>